* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: black;
  color: darkturquoise;
  text-align: center;
}

p{
  color:#f1f1f1;
  font-size: 95%;
}


h1, h2{
  text-align: center;
  color: darkturquoise;
  font-family: courier;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
}